# 忽略目录
.idea
.vscode
examples/
build/
docs/
imgs/
node_modules/
packages/
public/
typings/

# 忽略指定文件
.editorconfig
.eslintrc.js
.gitignore
.browserslistrc
babel.config.js
shims-vue.d.ts
tsconfig.json
tslint.json
vue.config.js

*.map
