@import "theme";

/**
 * 颜色定义
 */
$default-border-color: #999;
$active-border-color: $theme-color;

$border-radius: 4px;
$ne-edit-line-height: 26px;

/**
 * 文字输入
 */
$text-background-color: #fff;
$text-color: #666;