@import "theme";

$grid-stroke-color: $theme-color;
$selection-box-color: #ff4f81;
$selected-node-border: #ffaa18;

$node-background-color: #eee;
$detail-title-background-color: $theme-color;

$drag-info-panel-color: #ffaa18;

$node-title-input: #bd2e2e;

$tips-background: rgba(0, 0, 0, 0.3);

* {
  margin: 0;
  padding: 0;
}

.none-selective {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ne-node {
  .background {
    width: calc(1px + var(--width));
    height: calc(1px + var(--height));
    fill: $node-background-color;
    stroke: $grid-stroke-color;
    stroke-width: 1px;
  }

  .title-group {
    cursor: pointer;

    .title-back {
      width: var(--width);
      height: 20px;
      outline: none;
    }

    .title-text {
      font-size: 12px;
      fill: white;
      text-anchor: start;
    }

    .output-point {
      fill: $selected-node-border;

      &:hover {
        fill: white;
        cursor: pointer;
      }
    }
  }

  .footer-group {
    width: var(--width);
    height: 20px;

    .resize {
      cursor: nwse-resize;
    }

    rect.resize {
      fill: $node-background-color;
    }
  }

  &:hover, &.selected {
    .background {
      stroke: $selected-node-border;
    }
  }
}

.ne-edit {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;

  &:not(:first-child) {
    margin-top: 6px;
  }
}
