@import "../../../css/index.scss";

.node-list-container {
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
}

.ne-panel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .ne-svg-panel {
    width: 100%;
    height: 100%;

    .grid-defs {
      path {
        fill: none;
        stroke: $grid-stroke-color;
        stroke-opacity: 0.4;
      }
    }

    .grid-group {
      .coordinate-axis {
        stroke: $grid-stroke-color;
        stroke-opacity: 0.4;
      }
    }
  }
}

.ne-panel-reset {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px;
  background-color: $tips-background;
  fill: #fff;
  opacity: 0;
  transition: all .3s ease-in-out;
  cursor: pointer;

  &[class*=show] {
    opacity: 1;
  }
}

.ne-panel-info {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  background-color: $tips-background;
  opacity: 0;
  transition: all .3s ease-in-out;

  &[class*=show] {
    opacity: 1;
  }
}
